.video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }
  .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
    opacity: 0.9;
    z-index: -1;
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */
    width: auto;
    height: auto;
  
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

h1{
    text-align: center;
    display: none;
}

#start{
    position: fixed;
    top: 38%;
    padding: 50px;
    opacity: 0.8;
    font-family: 'Lobster', cursive;
    font-size: 64px;
    transition: .4s ease;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 60px 60px rgba(0,0,0,.2);
}

#main{
    padding-top: 160px;
    justify-content: center;
    align-content: center;
}

#clock{
    background-color: lightgray;
    color: black;
    padding: 10px;
    width: 200px;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    opacity: 0.9;
    border-radius: 10px;
}

@keyframes pulse {
    0% {
      color: black
    }
    100% {
      color: #FF4136;
      font-size: 24px;
      font-weight: bold;
    }
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1.0;
    }
  }

.answers{
    /* text-align: center; */
    font-size: 24px;
    margin: 10px;
    opacity: 0.9;
    align-items: center;
}

.options:hover{
    font-size: 28px;
    font-family: 'Lobster', cursive;
    background-color: rgba(242, 109, 247, 0.5);
    box-shadow: 0px 0px 10px rgba(242, 6, 250, 0.87);
    border-radius: 10px;
    transition: 1s ease;
    padding: 5px;
    cursor: pointer;
}

.options:active{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    background-color: rgba(209, 56, 240, 0.712);
    box-shadow: 0px 0px 10px rgba(107, 6, 223, 0.87);
    border-radius: 15px;
    padding: 8px;
    transition: 1s ease;
    
}

#score{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    opacity: 0.9;
    transition: 1s ease;
}

.answer-images{
    border: 3px rgba(242, 109, 247, 0.712) solid;
    border-radius: 7px;
    animation-name: fade-in;
    animation-duration: 0.8s;
}

.answer-explanations{
    border-left: 4px solid rgba(209, 56, 240, 0.712);
    padding-left: 4px;
    margin-left: 20px;
    font-size: 1em;
    transition: 0.23s ease-in-out;
    animation-name: fade-in;
    animation-duration: 1.2s;
}

.answer-explanations:hover{
    border-left: 5px solid  rgba(209, 56, 240, 0.712);
    padding-left: 5px;
}

.final-score{
    font-family: 'Lobster', cursive;
    font-size: 1.5em;
    color: rgba(209, 56, 240, 0.85);
}

@media only screen and (max-width: 768px) {
    .answer-images {
      max-width: 50%;
    }

    .questions{
        font-size: 0.9em;
    }

    .answers{
        font-size: 21px;
    }
  }

@media only screen and (max-width: 600px) {
    #start{
        word-wrap: break-word;     
        white-space: -webkit-pre-wrap; 
        /* word-break: break-all; */
        white-space: normal;
        max-width: 100%;
    }
    .answer-images {
      max-width: 100%;
      margin-bottom: 15px;
    }
    .questions{
        font-size: 0.75em;
    }
    .answers{
        flex-direction: column;
        font-size: 18px;
    }
    .video-container video{
        position: fixed;
    }
  }