video {
    position: absolute;
    opacity: 0.9;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    
}

h1{
    text-align: center;
    display: none;
}

#start{
    position: fixed;
    top: 38%;
    padding: 50px;
    opacity: 0.8;
    font-family: 'Lobster', cursive;
    font-size: 64px;
    transition: .4s ease;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 60px 60px rgba(0,0,0,.2);
}

#main{
    padding-top: 160px;
    justify-content: center;
    align-content: center;
}

#clock{
    background-color: lightgray;
    color: black;
    padding: 10px;
    width: 200px;
    font-size: 18px;
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    opacity: 0.9;
    border-radius: 10px;
}

@keyframes pulse {
    0% {
      color: black
    }
    100% {
      color: #FF4136;
      font-size: 24px;
      font-weight: bold;
    }
  }

.answers{
    /* text-align: center; */
    font-size: 24px;
    margin: 10px;
    opacity: 0.9;
}

.options:hover{
    font-size: 28px;
    font-family: 'Lobster', cursive;
    background-color: rgba(242, 109, 247, 0.5);
    box-shadow: 0px 0px 10px rgba(242, 6, 250, 0.87);
    border-radius: 10px;
    transition: 1s ease;
    padding: 5px;
}

.options:active{
    font-size: 30px;
    font-family: 'Lobster', cursive;
    background-color: rgba(209, 56, 240, 0.712);
    box-shadow: 0px 0px 10px rgba(107, 6, 223, 0.87);
    border-radius: 15px;
    padding: 8px;
    transition: 1s ease;
    
}

#score{
    
    margin-top: 20px;
    opacity: 0.9;
}