video {
    position: absolute;
    opacity: 0.9;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    
}

h1{
    text-align: center;
}

button{
    margin: auto;

}

#clock{
    background-color: lightgray;
    color: black;
    padding: 10px;
    width: 200px;
    font-size: 18px;
    text-align: center;
    margin: auto;
    opacity: 0.9;
    border-radius: 10px;
}
.answers{
    /* text-align: center; */
    font-size: 24px;
    margin: 10px;
    opacity: 0.9;
}